<%- selected_tags ||= [] %>

<section class="blog-sidebar">

  <%- if false %>
    <nav class="nav flex-column tags">
      <a class="nav-link <%= selected_tags.empty? ? 'active' : '' %>" href="/blog/">All Posts</a>
      <% blog.tags.each do |tag, _articles| %>
        <a class="nav-link <%= selected_tags.include?(tag) ? 'active' : '' %>" href="<%= tag_path(tag) %>"><%= tag_label_for(tag) %></a>
      <% end %>
    </nav>
  <%- end %>

  <div class="info-card">
    <div class="wrapper">
      <p> Grokking is a non-profit organization dedicated to leveling up Vietnamese software engineers. </p>
      <p> Here you can find highly technical content and tech talks that we curate and organize every month.</p>
    </div>
  </div>

</section>
