---
title: Grokking Research Group
description:
layout: page_entry
---

<div class="research-page container panel">
  <div class="row">
    <div class="sidebar pull-right col-sm-4">
      <%= partial 'research_sidebar' %>
    </div>
    <div class="col-sm-8 main-column pull-left">
      <%= partial 'research_main' %>
    </div>
  </div>
</div>
