{% for page in site.posts %}
{% if page.style == 'homepage' %}
  <p> {{ page.content }} </p> 
{% else %}
{% endif %}
{% endfor %}

<!--<h2>Hi bạn ,</h2>
<p>Grokking Engineering is community of developers who want to get much much better at programming, regardless of job or years of experience</p>
<h2>What's in it for you</h2>
<ul>
  <li>Learn about deep, difficult topics: scaling backends, building data pipelines, tuning neural networks, etc</li>
  <li>Meet with amazing developers in HCM, Singapore and around the world (think Google, Facebook, Palatir, etc)</li>
  <li>Find a job to grow as a developer</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">Join our Facebook Group</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">Contact us</a>
  </li>
</ul>-->
