---
title: Contact Us
description: "Contact Grokking Executive Team"
---

<div class="techtalks-page">
  <div class="container panel">
      <h2>Contact Us</h2>
      <div class="row">
        <div class="col-md-12">
          <p>For Techtalk's related queries: <b>techtalks@grokking.org</b></p>
		  <p>For Dijkstra's related queries: <b>dijkstra@grokking.org</b> </p>
		  <p>For Newsletter's related queries: <b>newsletter@grokking.org</b></p>
		  <p>For generic partnership related queries: <b>partnership@grokking.org</b></p>
		  <p>For other queries: <b>core@grokking.org</b></p>
		  <p>For instant message, please PM us on facebook: <a href="https://www.facebook.com/grokking.vietnam">https://www.facebook.com/grokking.vietnam</a></p>
        </div>
        
      </div>

    </div>
</div>
