---
title: Grokking Magazine
description: "Dijkstra - the quarterly magazine published by Grokking"
---

<div class="magazine-page">
  <div class="container dijkstra panel">
      <h2>Dijkstra</h2>
      <div class="row">
        <div class="col-md-12">
			<p>Dijkstra is a periodically magazine published by Grokking Vietnam. In this magazine, the Grokking team will collect qualified technical articles from Software Engineers who is currently working in Software Industry. The topic of the articles will focus in Software Engineering, Data Engineering, ... </p>

			<p>
				Refer to this document for further information: <a href="https://engineering.grokking.org/dijkstra/">Link</a>
			</p>
        </div>
        
      </div>

      <div class="row">
      	<div class="col-md-4">
      		<img class="magazine" src="/images/dijkstra/img_1.JPG">
      	</div>
      	<div class="col-md-4">
      		<img class="magazine"  src="/images/dijkstra/img_3.JPG">
      	</div>
      </div>

    </div>
</div>
