---
title: Newsletter
description: "Grokking's weekly newsletter which highlight technical blog articles and technical events"
---
<div class="container panel">
  <div class="row">

    <div class="col-sm-12 col-md-12 main-column">
      <div class="hero-info">
        <h2>Grokking Newsletter</h2>

        <p>
          Every week, the Grokking team will prepare a newsletter and send out to more than 3000 subscribers who are currently working in Software Industry.</p>

        <p>
			In each issue, we'll provide the reader with highlighted blog articles from global software companies, Vietnamese engineer's blog. We'll also provide byte-size knowledge section, together with jobs posting and upcoming technical events.
			</p>
		<p>
			Subscribe this newsletter: <a href="http://newsletter.grokking.org/">http://newsletter.grokking.org/</a>
        </p>
      </div>
  	</div>
  </div>

</div>